//  color
$pink-color: #CA77E7;
$white-color: #fff;
$black-color: #000;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$main:#03609c;
//  Fonts
$Rubik: "Rubik", sans-serif;

:root {
    --panel-width: calc(100% / 6);
    --darkblue: #02020c;
    --white: #fff;
    --lightgray: #fafafb;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    display: block !important;  
    margin: 0;
    color: #000;
    font-family: $Rubik !important;
    background-color: $main !important;
    

}
.form_box>button:hover{
    /* background-color: red; */
}
.form_box>button:focus{
    outline: 0px !important;
    border: 0px !important;
}

.form_box>label{
    display: flex;
   margin-bottom: 5px;
}
.form_box>input{
    width: 100%;
    padding: 11px 10px;
    border: 1px solid #08609e;
    color: #08609e;
    border-radius: 4px;
    background-color: #ffffff;
}
.form_box>input::placeholder{
    color: #08609e;

}
.form_box>input:focus{
    outline: none;
}
.form_box>input[type="file"]{
    padding: 20px 20px;
    
}
.form_box>button{
    padding: 10px 40px;
    background-color: #003953;
    color: white;
    display: flex;
    width: fit-content;
    border-radius: 8px;
    border: 0;
}
.login_area{
    height: 100vh;
    width: 100%;
}

.login_inner{
background-color: white;
padding: 30px 40px;
border-radius: 10px;
}
.login_inner>img{
    text-align: center;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.form_box_n>button{
    background-color: #f47f2f;

}


.submited_box>img{
    width: 500px;
}

.submited_box>h6{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: -20px;
    padding-bottom: 40px;
}


.form_box_a{
    padding: 10px 40px;
    background-color: #003953;
    color: white;
    display: flex;
    width: fit-content;
    border-radius: 8px;
    border: 0;
    text-decoration: none;
}